# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Poetry
      uses: snok/install-poetry@v1
    - name: Install dependencies
      run: poetry install
    - name: Lint with pylint
      run: |
        poetry run poetry run pylint --extension-pkg-whitelist='pydantic' $(git ls-files '*.py')
    - name: Test no API_KEY
      run: poetry run pytest -k "not _api_endpoint"
    - name: Test with API_KEY
      run: poetry run pytest -k "_api_endpoint"
      env:
        API_KEY: ${{ secrets.PDL_API_KEY }}
